html {
    height: -webkit-fill-available;
}

body {
    position: absolute;
    box-sizing: border-box;
    height: 100vh;
    height: -webkit-fill-available;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    margin: 0!important;
    padding: 0!important;
    font-family: arial, monospace;
    font-size: 1.5em;
}

.material-icons {
    font-size: 1.15em;
}

button {
    display: block;
    background: transparent;
    padding: 10px;
    border: none;
    font-size: 1em;
    z-index: 100;
    color: white;
}

button.genColor {
    display: grid;
    position: relative;
    grid-column: 1 /  5;
    grid-row: 1 / 6;
    height: 100%;
    width: 100%;
    border-radius: 0 0 50px 50px;
    z-index: 2;
}

button:focus {
    outline: none;
}

button:disabled {
    color: gray;
}

button:disabled:hover {
    background: transparent;
    cursor: not-allowed;
}

p {
    padding: .5em;
    margin: 0;
    color: white;
}

header {
    display: flex;
    position: absolute;
    flex-flow: row nowrap;
    background: rgba(90, 90, 90, 0.25);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    width: 100%;
    height: auto;
    z-index: 11;
}

header > a {
    display: block;
    align-self: center;
    z-index: 12;
    height: auto;
    padding: 10px;
    color: white;
    font-size: 1em;
    text-decoration: none;
}

div#controls {
    flex-flow: row nowrap;
    overflow: hidden;
    z-index: 10;
    margin: 0 0 0 auto;
    justify-self: flex-end;
    align-items: center;
    height: auto;
    width: auto;
    background-color: transparent;
}

button.toggleColorMode {
    height: 100%;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

#container {
    position: absolute;
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
    flex-flow: row wrap;
    align-content: flex-start;
}

.colorPnl {
    display: grid;
    height: 100%;
    width: 100%;
    position: relative;
    grid-template-columns: 1fr 25% 1fr;
    grid-template-rows: 60px 1fr 1fr 1fr 40% 4% 20%;
}

div.colorOne {
    display: grid;
    position: relative;
    grid-column: 1 /  5;
    grid-row: 1 / 6;
    z-index: 1;
    min-height: 100%;
    min-width: 100%;
    background-color: darkgrey;
    border-radius: 0 0 50px 50px;
}

div.colorTwo {
    display: grid;
    position: relative;
    grid-column: 1 /  5;
    grid-row: 1 / 8;
    height: 100%;
    z-index: 0;
    background-color: grey;
}

div.containerCOne {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    height: 50px;
    width: auto;
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    justify-content: flex-start;
    text-transform: uppercase;
}

div.containerCTwo {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: auto;
    height: 50px;
    grid-column: 1 / 5;
    grid-row: 7 / 8;
    justify-content: flex-start;
    text-transform: uppercase;
}

.cOne {
    height: auto;
    padding: .5em;
    border-radius: 0 5px 5px 0;
    z-index: 3;
}

.cOne:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.cTwo {
    height: auto;
    padding: .5em;
    border-radius: 0 5px 5px 0;
    z-index: 3;
}

.cTwo:hover {
    background-color: rgba(0, 0, 0, 0.30);
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

button.addPnl {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 21;
    border-radius: 0 0 0 15px;
    height: 40%;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    padding: 0;;
}

button.addPnl:hover{
    background-color:rgba(26, 26, 26, 0.5) ;
}

button.generatorMenu {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 21;
    border-radius: 15px 0 0 0;
    height: 60%;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    padding: 0;
}

button.generatorMenu:hover {
    background-color:rgba(26, 26, 26, 0.5) 
}

.menuContainer {
    display: flex;
    position: relative;
    width: 70px;
    height: 175px;
    margin: 0 0 0 auto;
    padding: 0;
    border-radius: 15px 0 0 15px;
    background-color: rgba(31, 31, 31, 0.5);
    flex-flow: column nowrap;
    justify-content: center;
    align-self: center;
    z-index: 20;
}

button.delPnl {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    overflow: hidden;
    grid-column: 2 /  3;
    grid-row: 1 / 3;
    z-index: 2;
    justify-content: center;
    align-items: center;
    padding: 60px 10px 10px 10px;
    border-radius: 0 0 50px 50px;
    height: 100%;
    width: 100%;
    font-size: 1.5em;
}