:root {
    --backgroundColorMenuMobile: #121212;
}

@media only screen and (max-width: 770px) {
    body {
        flex-flow:  column nowrap;
        font-size: 1.3em;
    }

    header {
        position: relative;
        height: 10%;
        background-color: var(--backgroundColorMenuMobile);
        backdrop-filter: none;
    }

    div#controlls {
        width: 25%;
    }

    #container {
        position: absolute;
        top: 0;
        height: 80%;
    }

    button.generatorMenu {
        height: 100%;
        width: 75%;
        border-radius: 0;
    }

    button#addPnl {
        height: 100%;
        width: 25%;
        border-radius: 0;
    }

    .menuContainer {
        width: 100%;
        height: 10%;
        margin: auto 0 0 auto;
        border-radius: 0;
        background-color: var(--backgroundColorMenuMobile);
        flex-flow: row nowrap;
    }

    div.colorPnl {
        grid-template-columns: 40% 45% 15%;
        grid-template-rows: 1fr 3fr 1fr;
    }

    div.colorOne {
        grid-column: 2 /  4;
        grid-row: 1 / 5;
        border-radius: 0;
    }

    div.colorTwo {
        grid-column: 1 / 4;
        grid-row: 1 / 5;
    }

    button.cOne {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
        place-self: start start;
        border-radius: 0 0 5px 0;
    }

    button.cTwo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        place-self: start start;
        border-radius: 0 0 5px 0;
    }

    button.genColor {
        grid-column: 2 / 4;
        grid-row: 1 / 5;
        border-radius: 0;
    }

    button.delPnl {
        grid-column: 3 /  4;
        grid-row: 2 / 3;
        border-radius: 25px 0 0 25px;
        padding: 0;
        line-height: 0%;
    }

    button.dragPnl {
        width: auto;
        height: 100%;
        grid-column: 2/ 2;
        grid-row: 2/ 2;
        place-self: center start;
        place-items: center center;
        border-radius: 0 50px 50px 0;
    }
}